@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: red; 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo {
    font-size: 2em;
    color: aqua
}