<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Monitoring web-app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  </head>
  <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">SAMSUNG</a>
          <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="empty-element w-100"></div>
          <div class="navbar-nav">
            <div class="nav-item text-nowrap">
              <a class="nav-link px-3" href="login.html">Sign out</a>
            </div>
          </div>         
        </header>        
        <div class="container-fluid">
          <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
              <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" onclick="showDashboard()">
                      <span data-feather="home" class="align-text-bottom"></span>
                      Main dashboard
                    </a>
                  </li>
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>Monitoring</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                      <span data-feather="plus-circle" class="align-text-bottom"></span>
                    </a>
                  </h6>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" onclick="showMonitoring()">
                      <span data-feather="file" class="align-text-bottom"></span>
                      Your monitoring
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showMonitoringForm()">
                      <span data-feather="shopping-cart" class="align-text-bottom"></span>
                      Add a new monitoring service
                    </a>
                  </li>
                </ul>       
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>Monitoring Plugin</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                      <span data-feather="plus-circle" class="align-text-bottom"></span>
                    </a>
                  </h6>
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showTelegraf()">
                      <span data-feather="file-text" class="align-text-bottom"></span>
                      Download a monitoring agent
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showEarnedpoint()">
                      <span data-feather="file-text" class="align-text-bottom"></span>
                      Renew your token
                    </a>
                  </li>
                </ul>
              </div>
            </nav>                
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block content %}
            {% endblock %}
            </main>
        </div> 
    <script src="../static/js/bootstrap.js"></script>     
  </body>
</html>