<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to the monitoring web-app</title>
  <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body> 
    <div class="background"></div>
    <div class="wrapper">
    <div class="form-box">
      <form class="form" method="post" action="#">
        <div class="headline">
            <h1>Welcome</h1>
        </div>
         <div class="signin" id="login"> 
             <div class="form-group">
                 <input type="email" name="signin-email" placeholder="Email" required="">
             </div>
             <div class="input-box">
                 <input type="password" name="signin-password" placeholder="Password" id="signinpassword" required="">
                 <img src="../static/images/eye-close.png" id="sineyeicon">
             </div>
             <div class="forget-password">
                 <div class="check-box">
                     <input type="checkbox" id="checkbox">
                     <label for="checkbox">Remember me</label>
                 </div>
                 <a href="#" id="forgot">Forgot password?</a>
             </div>
             <button type="submit" class="btn">LOGIN</button>
             <div class="account-exist">
                 Create New a account? <a href="registration.html" id="signup">Sign up</a>
             </div>
         </div>
         <div class="forget" id="forget">
            <div class="form-group">
              <input type="email" name="forget-email" placeholder="Email" required="">
            </div>
            <button type="submit" class="btn">SEND</button>
            <div class="account-exist">
              <a href="#" id="back">Back</a>
            </div>
          </div>    
      </form>
    </div>
    <script src="../static/js/script.js"></script>
    </div>
  </body>
</html>