<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register in the monitoring web-app</title>
  <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body> 
    <div class="background"></div>
    <div class="wrapper">
    <div class="form-box">
      <form class="form" method="post" action="#">
        <div class="headline">
            <h1>Welcome</h1>
        </div>
         <div class="signup">
             <div class="form-group">
                 <input type="text" placeholder="Full name" required="">
             </div>
             <div class="form-group">
                 <input type="email" name="signup-email" placeholder="Email" required="">
             </div>
             <div class="input-box">
                 <input type="password" name="signup-password" placeholder="Password" id="password" required="">
                 <span class="password-strength"></span>
                 <img src="../static/images/eye-close.png" id="eyeicon">
                 
             </div>
             <div class="input-box">
                <input type="password" placeholder="Confirm Password" id="conpassword" required="">
                <img src="../static/images/eye-close.png" id="coneyeicon">
             </div>
             <button type="submit" class="btn">SIGN UP</button>
             <div class="account-exist">
                 Already have an account? <a href="login.html" id="login">Sign in</a>
             </div>
         </div>
      </form>
    </div>
    <script src="../static/js/script.js"></script>
    </div>
</body>
</html>