
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration page</title>
  <link rel="stylesheet" href="../static/css/reg-style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- <script src="../static/js/reg-script.js"></script> -->
</head>

<body> 

  <div class="background"></div>
  <div class="container">
    <div class="content">
      <div class="text-sci">
        <div class="logreg-box">
          <div class="form-box register">
            {% block content %}
            <form action="#" method="post">
              {% csrf_token %}
              <h2>Sign Up</h2>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-user' ></i></span>
                {{ form.username }}
                <label>Name</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-envelope' ></i></span>
                {{ form.email }}
                <label>Email</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-lock'></i></span>
                <div class="checkerContainer">
                  <div class="form-group">
                    {{ form.password1 }}
                    <span class='passTypeToggle' title="Show"><i class="fa-solid fa-eye"></i></span>
                  </div>
                  <div class="message"></div>
                </div>
                <label>Password</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-lock'></i></span>
                {{ form.password2 }}
                <label>Confirm Password</label>
              </div>
              <div class="remember-forgot">
                <label>
                  <input type="checkbox" name="agree" id="agree" required>
                  <span>I agree to the terms &amp; conditions</span>
                </label>
                <a href="#">Read our terms &amp; conditions</a>
              </div>
              <button type ="submit" class="btn">Sign Up</button>
              {% endblock %}
              {% if form.errors %}
              <div class="alert alert-danger">
                {% for field, error_messages in form.errors.items %}
                {% for error_message in error_messages %}
                <p>{{ field }}: {{ error_message }}</p>
                {% endfor %}
                {% endfor %}
                {{ form.non_field_errors }}
              </div>
              {% endif %}
              <div class="login-register"><p>Already have an account?
                <a href="login.html" class="login-link">Sign in</a></p>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
