
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration page</title>
  <link rel="stylesheet" href="../static/css/reg-style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
</head>

<body> 

  <div class="background"></div>
  <div class="container">
    <div class="content">
      <div class="text-sci">
        <div class="logreg-box">
          <div class="form-box register">
            <form action="#">
              <h2>Sign Up</h2>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-user' ></i></span>
                <input type="name" required>
                <label>Name</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-envelope' ></i></span>
                <input type="email" required>
                <label>Email</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-phone'></i></span>
                <input type="phone" id="phone" name="phone" pattern="[0-9]*" required>
                <label>Phone number</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-lock'></i></span>
                <div class="checkerContainer">
                  <div class="form-group">
                    <input type="password" id="passwordChecker" required class="password-input">
                    <span class='passTypeToggle' title="Show"><i class="fa-solid fa-eye"></i></span>
                  </div>
                  <div class="message"></div>
                </div>
                <label>Password</label>
              </div>
              <div class="input-box">
                <span class="icon"><i class='bx bxs-lock'></i></span>
                <input type="password2" required>
                <label>Confirm Password</label>
              </div>
              <div class="remember-forgot">
                <label>
                  <input type="checkbox" name="agree" id="agree" required>
                  <span>I agree to the terms &amp; conditions</span>
                </label>
                <a href="#">Read our terms &amp; conditions</a>
              </div>
              <button type ="submit" class="btn">Sign Up</button>
			  <script src="../static/js/reg-script.js"></script>
              <div class="login-register"><p>Already have an account?
                <a href="login.html" class="login-link">Sign in</a></p>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
