{% extends "Dashboard.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Your monitoring</h1>
  </div>
  {% if urls%}
  {% for url in urls %} 
  <iframe src="http://localhost:3000/d-solo/dc50118d-16cf-4d6b-8929-82fabd914b32/monitoring-site-dashboard?orgId=1&theme=light&panelId=1&var-user={{user}}&var-url={{ url }}" width="40%" height="200" frameborder="0"></iframe>
  {% endfor %}
  {% endif %}
{% endblock %}

